<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gproject.shoppingcart.mapper.ShoppingCartCustomMapper">
    <resultMap id="BaseResultMap" type="com.gproject.shoppingcart.pojo.ShoppingCartCustom">
        <id column="cart_id" property="cartId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="cart_num" property="cartNum" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    cart_id, user_id, cart_num
  </sql>

    <resultMap id="shoppingCartDetailResultMap" type="com.gproject.shoppingcart.pojo.ShoppingCartCustom">
        <id column="cart_id" property="cartId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="cart_num" property="cartNum" jdbcType="INTEGER"/>
        <collection property="shoppingCartProdCustoms"
                    ofType="com.gproject.shoppingcartprods.pojo.ShoppingCartProdCustom">
            <id column="scp_id" property="scpId" jdbcType="INTEGER"/>
            <result column="cart_id" property="cartId" jdbcType="INTEGER"/>
            <result column="product_id" property="productId" jdbcType="INTEGER"/>
            <result column="amount" property="amount" jdbcType="INTEGER"/>
            <association property="product" javaType="com.gproject.product.pojo.Product">
                <id column="product_id" jdbcType="INTEGER" property="productId"/>
                <result column="category_id" jdbcType="INTEGER" property="categoryId"/>
                <result column="product_name" jdbcType="VARCHAR" property="productName"/>
                <result column="product_price" jdbcType="DECIMAL" property="productPrice"/>
                <result column="short_desc" jdbcType="VARCHAR" property="shortDesc"/>
                <result column="thumbnail" jdbcType="VARCHAR" property="thumbnail"/>
                <result column="sale_num" jdbcType="INTEGER" property="saleNum"/>
                <result column="static_page" jdbcType="VARCHAR" property="staticPage"/>
                <result column="status" jdbcType="VARCHAR" property="status"/>
                <result column="keyword" jdbcType="VARCHAR" property="keyword"/>
                <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
                <result column="on_sale_time" jdbcType="TIMESTAMP" property="onSaleTime"/>
                <result column="off_sale_time" jdbcType="TIMESTAMP" property="offSaleTime"/>
            </association>
        </collection>
    </resultMap>

    <select id="queryShoppingCart" parameterType="com.gproject.shoppingcart.pojo.vo.ShoppingCartQueryVo"
            resultMap="shoppingCartDetailResultMap">
    SELECT
	cart.cart_id,
	cart.user_id,
	cart.cart_num,
	cartprods.product_id,
	cartprods.amount,
  cartprods.scp_id,
	prod.product_name,
	prod.product_price,
	prod.short_desc,
	prod.thumbnail,
  prod.static_page,
  prod.sale_num
FROM
	shopping_cart cart,
	shopping_cart_prods cartprods,
	product prod
WHERE
	cart.cart_id = cartprods.cart_id
AND cartprods.product_id = prod.product_id
AND cart.user_id = #{userId};
  </select>

  <insert id="insertShoppingCart" parameterType="com.gproject.shoppingcart.pojo.ShoppingCart">
     <!--keyProperty:将查询的主键映射到parameterType的属性  order:执行顺序 -->
      <selectKey keyProperty="cartId" order="AFTER" resultType="java.lang.Integer" >
        SELECT LAST_INSERT_ID()
    </selectKey>
      insert into shopping_cart(cart_id,user_id,cart_num) value(#{cartId},#{userId},#{cartNum})
  </insert>
  <select id="queryShoppingCartByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List"/>
      from shopping_cart where user_id=#{userId}
  </select>



</mapper>