<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="solrProductServer" class="org.apache.solr.client.solrj.impl.HttpSolrServer">
        <constructor-arg index="0" type="java.lang.String" value="${solr.server}/product" />
    </bean>
    <bean id="solrCategoryServer" class="org.apache.solr.client.solrj.impl.HttpSolrServer">
        <constructor-arg index="0" type="java.lang.String" value="${solr.server}/category" />
    </bean>
    <bean class="com.gproject.solr.base.SolrServerFactory">
        <property name="productServer" ref="solrProductServer">
        </property>
        <property name="categoryServer" ref="solrCategoryServer">
        </property>
    </bean>
</beans>