<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gproject.runningaccount.mapper.RunningAccountCustomMapper" >
  <resultMap id="BaseResultMap" type="com.gproject.runningaccount.pojo.RunningAccountCustom" >
    <id column="running_account_id" property="runningAccountId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="transaction_id" property="transactionId" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="entity_id" property="entityId" jdbcType="INTEGER" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
  </resultMap>
  <sql id="Base_Column_List" >
    running_account_id, user_id, transaction_id, `type`, amount, entity_id,create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from running_account
    where running_account_id = #{runningAccountId,jdbcType=INTEGER}
  </select>

  <select id="selectByOrderId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from running_account
    where entity_id = #{entityId,jdbcType=INTEGER}
  </select>


  <insert id="insertRunningAccount" parameterType="com.gproject.runningaccount.pojo.RunningAccountCustom" >
    insert into running_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="runningAccountId != null" >
        running_account_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="transactionId != null" >
        transaction_id,
      </if>
      <if test="type != null" >
        `type`,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="entityId != null" >
        entity_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="runningAccountId != null" >
        #{runningAccountId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="transactionId != null" >
        #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="entityId != null" >
        #{entityId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gproject.runningaccount.pojo.RunningAccountCustom" >
    update running_account
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="transactionId != null" >
        transaction_id = #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="entityId != null" >
        entity_id = #{entityId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where running_account_id = #{runningAccountId,jdbcType=INTEGER}
  </update>

</mapper>