<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gproject.runningaccount.mapper.RunningAccountMapper" >
  <resultMap id="BaseResultMap" type="com.gproject.runningaccount.pojo.RunningAccount" >
    <id column="running_account_id" property="runningAccountId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="transaction_id" property="transactionId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="entity_id" property="entityId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    running_account_id, user_id, transaction_id, type, amount, entity_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from running_account
    where running_account_id = #{runningAccountId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from running_account
    where running_account_id = #{runningAccountId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gproject.runningaccount.pojo.RunningAccount" >
    insert into running_account (running_account_id, user_id, transaction_id, 
      type, amount, entity_id
      )
    values (#{runningAccountId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{transactionId,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{amount,jdbcType=DECIMAL}, #{entityId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gproject.runningaccount.pojo.RunningAccount" >
    insert into running_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="runningAccountId != null" >
        running_account_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="transactionId != null" >
        transaction_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="entityId != null" >
        entity_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="runningAccountId != null" >
        #{runningAccountId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="transactionId != null" >
        #{transactionId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="entityId != null" >
        #{entityId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gproject.runningaccount.pojo.RunningAccount" >
    update running_account
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="transactionId != null" >
        transaction_id = #{transactionId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="entityId != null" >
        entity_id = #{entityId,jdbcType=INTEGER},
      </if>
    </set>
    where running_account_id = #{runningAccountId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gproject.runningaccount.pojo.RunningAccount" >
    update running_account
    set user_id = #{userId,jdbcType=INTEGER},
      transaction_id = #{transactionId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DECIMAL},
      entity_id = #{entityId,jdbcType=INTEGER}
    where running_account_id = #{runningAccountId,jdbcType=INTEGER}
  </update>
</mapper>